/* Body */
body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: auto;
}

// navbar
.navbars {
  position: relative;
  height: 700px;
}

.background-image-navbar {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url("../images/navbar-image-2.jpeg") no-repeat center;
  background-size: cover;
}

.left-navbar {
  a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
}

.right-navbar {
  a {
    color: white;
    text-decoration: none;
    word-spacing: 10px;
  }
}

.left-navbar {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.right-navbar {
  color: white;
  padding-top: 30px;
  padding-left: 35%;
  word-spacing: 20px;
}

.left-navbar::after {
  content: ".";
  font-size: 25px;
  color: aqua;
}

.navbar-description {
  color: white;
  padding-top: 200px;
  padding-left: 100px;
}

.alecto::after {
  content: " is simple PSD Template";
  font-weight: 100;
}

.paragraph-image-description {
  padding-top: 10px;
}

.button-image-description {
  padding-top: 50px;
}

// About
.about {
  height: 700px;
}

.about-description {
  padding-left: 100px;
}

.title-about {
  font-size: 50px;
  font-weight: 100;
  padding-top: 50px;
}

.main-hr {
  width: 3%;
  margin: auto;
  color: aqua;
  border: solid 1px;
}

.p-about {
  font-size: 12px;
  font-weight: 100;
  padding-top: 15px;
}

.boxes {
  padding-top: 100px;
}

.cyrcle {
  display: flex;
  justify-content: center;
  font-size: 30px;

  i {
    position: absolute;
    padding-left: 45px;
    padding-top: 45px;
    color: rgb(106, 106, 106);
  }
}

.cyrcle-icon {
  border: 60px solid;
  border-radius: 100px;
  width: 100px;
  height: 30px;
  color: rgb(228, 228, 228);
}

.white {
  i {
    color: white;
  }
}

.flower {
  color: aquamarine;
}

.title-about-description {
  padding-top: 50px;

  h2 {
    font-size: 20px;
  }
}

.paragraph-about {
  font-size: 12px;
  font-weight: 100;
  padding-top: 15px;
}

.button-main {
  width: 150px;
  border-radius: 20px;
  background-color: aquamarine;
}

.button {
  background-color: aquamarine;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-position {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

// Aparat
.aparat {
  background-color: rgb(241, 241, 241);
  height: 500px;
}

.image-aparat {
  width: 100%;
  height: 300px;
  background: url("../images/aparat.jpeg") no-repeat center;
  background-size: cover;

}

.image-aparat-position {
  padding-top: 100px;
}

.description-aparat {
  padding-left: 70px;
}

.title-aparat {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
}

.paragraph-aparat {
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}

.title-aparat-position {
  padding-top: 100px;
}

.paragraph-aparat-position {
  padding-top: 30px;
}

.button-position-aparat {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

// Computer
.computer {
  height: 500px;
}

.image-computer {
  width: 100%;
  height: 300px;
  background: url("../images/computer.jpeg") no-repeat center;
  background-size: cover;
}

.image-computer-position {
  padding-top: 100px;
}

.description-computer {
  padding-right: 70px;
}

.title-computer {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
}

.paragraph-computer {
  font-size: 13px;
  font-weight: 100;
  text-align: left;
}

.title-computer-position {
  padding-top: 100px;
}

.paragraph-computer-position {
  padding-top: 30px;
}

.button-position-computer {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

// Adam
.adam {
  position: relative;
  height: 350px;
}

.adam-position {
  padding-left: 100px;
}

.adam-background-image {
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
  background: url("../images/klasa.webp") no-repeat center;
  background-size: cover;
  filter: contrast(170%) saturate(80%) brightness(25%) blur(0.2px) opacity(92%);
}

.adam-image {
  width: 10%;
  height: 100px;
  background: url("../images/2-person.png") no-repeat center;
  background-size: cover;
}

.adam-image-position {
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.adam-title {
  color: white;
  word-spacing: 3px;
}

.adam-title-position {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.adam-p-one::before {
  content: "Alecto ";
  color: aquamarine;
  font-weight: 500;
}

.adam-paragraph {
  color: rgb(165, 165, 165);
}

.adam-p-two::after {
  content: "  CEO&Founder at symu.com";
  color: rgb(122, 122, 122);
}

.adam-description {
  padding-left: 100px;
}

// Services

.services {
  padding-top: 50px;
  height: 850px;
  background-color: rgb(245, 245, 245);
}


.services-title {
  font-size: 50px;
  font-weight: 100;
}

.services-p {
  padding-top: 25px;
  font-size: 12px;
}

.services-description-position {
  padding-left: 250px;
}

.services-icon-position {
  padding-top: 100px;
  padding-left: 100px;
}

.services-cyrcle {
  display: flex;
  justify-content: center;
  font-size: 25px;

  i {
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    color: aquamarine;
  }
}

.services-icon-cyrcle {
  border: 40px solid;
  border-radius: 60px;
  width: 40px;
  color: white;
}

.services-description-box {
  padding-top: 100px;
}

.services-description-box-title {
  font-size: 50px;
  font-weight: 100;
  text-align: left;
}

.services-description-box-paragraph {
  padding-top: 30px;
  text-align: left;
  font-size: 12px;
  line-height: 3;
}

// Team
.team {
  height: 850px;
}

.team-description-title {
  font-size: 50px;
  font-weight: 100;
}

.team-paragraph {
  padding-top: 25px;
  font-size: 12px;
}

.team-description-position {
  padding-top: 50px;
  padding-bottom: 50px;
}

.team-image-position {
  padding: auto;
  margin: auto;
}

.team-image img {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.second-row {
  padding-top: 20px;
}

// Hover img
.team-image {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: aquamarine;
}

.team-image:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

// Pricing
.pricing {
  padding-top: 50px;
  height: 850px;
  background-color: rgb(245, 245, 245);
}

.pricing-title {
  font-size: 50px;
  font-weight: 100;
}

.pricing-paragraph {
  padding-top: 25px;
  font-size: 12px;
}

.pricing-description-position {
  padding-top: 30px;
  padding-bottom: 50px;
}

// Pricing
.pricing {
  padding-bottom: 70px;
}

.pricing-box {
  height: 450px;
  background-color: white;
  width: 100%;
}

.pricing-salary {
  color: aquamarine;
  font-size: 50px;
  text-align: left;
  padding-left: 30px;
}

.pricing-box-paragraph {
  color: rgb(219, 219, 219);
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
}

.pricing-box-hr {
  color: rgb(219, 219, 219);
}

.pricing-box-hr-position {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing-box-bottom {
  text-align: left;
  color: rgb(143, 143, 143);
  line-height: 2.5;
  padding-left: 30px;
}

.pricing-box-button {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: aquamarine;
}

.button-pricing {
  width: 300px;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  padding-top: 5px;
  letter-spacing: 5px;

  i {
    padding-left: 60px;
    font-size: 20px;
  }
}

// GEOGRAPHY
.geography-image-pasition {
  padding: 40px 0;
}

.geography-image img {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.geography-title {
  text-align: left;
  font-size: 50px;
  font-weight: 100;
}

.geography-paragraph {
  color: rgb(165, 165, 165);
  text-align: left;
  font-size: 12px;
  padding-top: 20px;
  width: 80%;
}

.geography-description {
  padding-top: 100px;
}

.geography-button-position {
  padding-top: 40px;
}

//BANER
.baner-background-image {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
  background: url("../images/mountains.jpeg") no-repeat center;
  background-size: cover;
  filter: contrast(170%) saturate(80%) brightness(25%) blur(0.2px) opacity(92%);
}

.baner-button-position {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.baner-description {
  color: white;
  padding-top: 170px;
}

.baner-title {
  font-size: 50px;
  font-weight: 100;
}

.baner-title a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

// MEDIA
@media only screen and (max-width: 1530px) {
  .services {
    height: 850px;
  }

  .pricing {
    height: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .services {
    height: 950px;
  }

  .pricing {
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .services {
    height: 100%;
  }

  .pricing {
    height: 100%;
  }
}